<div class="row">
  {%include 'sub_hero'%}
</div>
<div class='container-fluid'>
  <div class='sub-body'>
    <div class='sub-copy'>
      <h1>Gift or Get the Kit</h1>
      <p class='copy'>
        <span class='hidden-xs'>Join the zoraab kit, a monthly sock subscription service.<br/>
        Customize to your monthly selections to your hearts content.<br/>
        Cancel your monthly sock subscription service anytime.<br/>
        Give or get your monthly kit of sock swagger.<br/>
        Accessories coming soon, but for now this<br/>
        sock subscription is pretty awesome.</span>
      </p>
      
      <img src="{{'sub-lifestyles.jpg'|asset_url}}" class='img-responsive'>
      
    </div>
    
    <div id='SubscriptionForm' class='subscription'>
      
      <div class='row'>
        <div class='col-lg-10 col-lg-push-1 col-md-12 col-xs-12 col-sm-12'>
          <p class='copy hidden-xs'>
            SIGN UP HERE!
          </p>
        </div>
      </div>
      <div class='row'>
        <form id='subform' action='http://zoraab-users.herokuapp.com/new' method='post'>
          <div class='sub-form'>
            <div class='col-lg-12 col-md-12 col-xs-12 col-sm-12'>
              <div id='alerts'>
              </div>
              <div class="panel-group" id="accordion">
                
                <div class="panel panel-default">
                  <a data-toggle="collapse" class= 'step-link'data-parent="#accordion" href="#stepOne">
                    <div class="heading">
                      <div class='step number'>
                        1
                      </div>
                      <h4 class="panel-title">
                        "Who is this?"
                      </h4>
                      <div class='status'>
                        <i class="fa fa-check-square-o"></i>
                      </div>
                    </div>
                  </a>
                  <div id="stepOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div id='stepOneAccordion' data-toggle="buttons">
                        <label class="btn">
                          <input type="radio" class="recipients" name="recipient" id="me" value='self' required> 
                            ME!
                        </label>
                        <label class="btn">
                          <input type="radio" class="recipients" name="recipient" id="gift" value='gift' required>
                            GIFT
                        </label>
                        <div id='giftForm' class='panel-collapse collapse'>
                          <input type="text" id='recipient_name' name="recipient_name" placeholder="Recipient's Name">
                          <textarea rows='4' name='gift_note' placeholder="Special Gift Message"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="panel panel-default">
                  <a data-toggle="collapse" class= 'step-link'data-parent="#accordion" href="#stepTwo">
                    <div class="heading">
                      <div class='step number'>
                        2
                      </div>
                      <h4 class="panel-title">
                        Pick your sock type.
                      </h4>
                      <div class='status'>
                        <i class="fa fa-check-square-o"></i>
                      </div>                  
                    </div>
                  </a>
                  <div id="stepTwo" class="panel-collapse collapse">
                    <div class="step-four-panel-body panel-body">
                      <div class='instructions'>
                        Check all that apply.
                      </div>
                      <div class="btn-group" data-toggle="buttons">
                        <ul class='style-list'>
                          <li><label class="btn">
                            <input type="checkbox" class='style' name='style[]' value='casual'>
                            <div class='style-pic'>
                              <div class='style-desc'>
                                <div class='overlay'>
                                </div>
                                <div class="style-name">
                                  <h4>Laid Back</h4>
                                </div>
                              </div>
                              <img src="{{ 'sub_casual.jpg' | asset_url }}" class='img-responsive'>
                            </div>
                          </label></li>
                          <li><label class="btn">
                            <input type="checkbox" class='style' name='style[]' value='dress'>
                            <div class='style-pic'>
                              <div class='style-desc'>
                                <div class='overlay'>
                                </div>
                                <div class="style-name">
                                  <h4>Strictly<br>Business</h4>
                                </div>
                              </div>
                              <img src="{{ 'sub_business.jpg' | asset_url }}" class='img-responsive'>
                            </div>                        
                          </label></li>
                          <li><label class="btn">
                            <input type="checkbox" class='style' name='style[]' value='fashion'>
                            <div class='style-pic'>
                              <div class='style-desc'>
                                <div class='overlay'>
                                </div>
                                <div class="style-name">
                                  <h4>Fashion<br>Statement</h4>
                                </div>
                              </div>                  
                              <img src="{{ 'sub_fashion.jpg' | asset_url }}" class='img-responsive'>
                            </div>
                          </label></li>
                          <li><label class="btn">
                            <input type="checkbox" class='style' name='style[]' value='fun'>
                            <div class='style-pic'>
                              <div class='style-desc'>
                                <div class='overlay'>
                                </div>
                                <div class="style-name">
                                  <h4>Walk<br>on the<br>Wild Side</h4>
                                </div>
                              </div>                          
                              <img src="{{ 'sub_wild.jpg' | asset_url }}" class='img-responsive'>
                            </div>                        
                          </label></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="panel panel-default">
                  <a data-toggle="collapse" class= 'step-link'data-parent="#accordion" href="#stepThree">
                    <div class="heading">
                      <div class='step number'>
                        3
                      </div>
                      <h4 class="panel-title">
                        Number of socks per month.
                      </h4>
                      <div class='status'>
                        <i class="fa fa-check-square-o"></i>
                      </div>                  
                    </div>
                  </a>
                  <div id="stepThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div data-toggle="buttons">
                        <ul class='plan-list'>
                          <li><label class="btn">
                            <input type="radio" class="qty" name='qty' value='2' id="2" required> 
                            <p class='main-plan'>TWO</p>
                            <p class='pricing'><span class='number'>$20</span> / month</p>
                          </label></li>
                          <li><label class="btn">
                            <input type="radio" class="qty" name='qty' value='3' id="3" required>
                            <p class='main-plan'>THREE</p>
                            <p class='pricing'><span class='number'>$29</span> / month</p>
                          </label></li>
                          <li><label class="btn">
                            <input type="radio" class="qty" name='qty' value='5' id="5" required>
                            <p class='main-plan'>FIVE</p>
                            <p class='pricing'><span class='number'>$45</span> / month</p>
                          </label></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="panel panel-default">
                  <a data-toggle="collapse" class= 'step-link'data-parent="#accordion" href="#stepFour">
                    <div class="heading">
                      <div class='step number'>
                        4
                      </div>
                      <h4 class="panel-title">
                        Payment options.
                      </h4>
                      <div class='status'>
                        <i class="fa fa-check-square-o"></i>
                      </div>                  
                    </div>
                  </a>
                  <div id="stepFour" class="panel-collapse collapse">
                    <div class="step-four-panel-body panel-body">
                      <div id='stepFourAccordion'>
                        <div data-toggle="buttons">
                          <ul class='pmt-list'>
                            <li><label class="btn">
                              <input type="radio" class="payment" name='payment' value='monthly' id="monthly" required>MONTHLY
                            </label></li>
                            <li><label class="btn">
                              <input type="radio" class="payment" name='payment' value='once' id="once" required> ONCE
                            </label></li>
                          </ul>
                        </div>
                        <div id='upfrontForm' class='panel-collapse collapse'>
                          <div data-toggle="buttons">
                            <ul class='upfront-list'>
                              <li><label class="btn">
                                <input type="radio" class="upfront_months" name='term' value='3m' id="three"> 
                                <p class='main-plan number'>3 <span class='months'>months</span><p>
                                <p class='pricing'>
                                  <span class='3m-price number'>$60</span>
                                </p>
                              </label></li>
                              <li><label class="btn">
                                <input type="radio" class="upfront_months" name='term' value='6m' id="six">
                                <p class='main-plan number'>6 <span class='months'>months</span><p>
                                <p class='pricing'>
                                  <span class='6m-price number'>$120</span>
                                </p>
                              </label></li>
                              <li><label class="btn">
                                <input type="radio" class="upfront_months" name='term' value='9m' id="nine">
                                <p class='main-plan number'>9 <span class='months'>months</span><p>
                                <p class='pricing'>
                                  <span class='9m-price number'>$180</span>
                                </p>
                              </label></li>
                              <li><label class="btn">
                                <input type="radio" class="upfront_months" name='term' value='12m' id="twelve">
                                <p class='main-plan number'>12 <span class='months'>months</span><p>
                                <p class='pricing'>
                                  <span class='12m-price number'>$360</span>
                                </p> 
                              </label></li>
                            </ul>         
                          </div>
                    
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class='submit-section'>
                <input type='submit' value='CHECKOUT' class='btn' />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>