<div class='account-hero'>
  {{ 'account_hero.jpg' | asset_url | img_tag }}
</div>
<div class='account'>
  <ul class="nav nav-tabs" role="tablist">
    <li><a href="/account">DASHBOARD</a></li>
    <li><a href="/pages/account-information">ACCOUNT INFO</a></li>
    <li><a href="/account/addresses">ADDRESS BOOK</a></li>
    <li><a href="/pages/order-history">ORDER HISTORY</a></li>
    <li class='active'><a href="/pages/account-subscription">SUBSCRIPTION</a></li>
  </ul>
  <div class='account-body'>
    <div class='load-overlay'>
      <div class='loading'>
        {{ 'loader.gif' | asset_url | img_tag }}
      </div>
    </div>
    <h3> Subscription </h3>
    <p id='customerId' class='hide'>{{customer.id}}</p>
    <div id='subData' class='row'>
      <div class='col-md-3 left-section '>
        <div class='top-section'>
          <div class='plan'>
            <h5>CURRENT PLAN</h5>
            <p id='planInfo'>&nbsp;</p>
          </div>
          <div class='enrolled-date'>
            <h5>DATE ENROLLED</h5>
            <p id='startDate'>&nbsp;</p>
          </div>
          <div class='next-date'>
            <h5>NEXT SHIPMENT DATE</h5>
            <p id='nextDate'>&nbsp;</p>
          </div>
          
        </div>
        <div class='bottom-section'>
          <h5>CONTACT US!</h5>
          <a href='mailto: zoraabkit@zoraab.com?subject=Question%'>
            {% include 'icon_mail' %}
          </a>
        </div>
      </div>
      <div class='right-section col-md-9'>
        <div class='this-month'>
          <h5>THIS MONTH'S KIT: October 2014</h5>
          <p class='status'>Status: Shipped</p>
          <ul class='sub-order'>
            <li><img src="https://cdn.shopify.com/s/files/1/0127/4312/products/MS-MO706_237e36a7-36f2-4a93-b479-732371ca639c_small.jpg"></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0127/4312/products/MS-MO706_237e36a7-36f2-4a93-b479-732371ca639c_small.jpg"></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0127/4312/products/MS-MO706_237e36a7-36f2-4a93-b479-732371ca639c_small.jpg"></li>
            <li><img src="{{'sock-fallback.png' | asset_url }}"></li>
            <li><img src="{{'sock-fallback.png' | asset_url }}"></li>
          </ul>
        </div>
        <div class='next-month'>
          <h5>THIS MONTH'S KIT: November 2014</h5>
          <p class='status'>Status: Pending</p>
          <ul class='sub-order'>
            <li><img src="https://cdn.shopify.com/s/files/1/0127/4312/products/US_13-015-2_small.jpeg"></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0127/4312/products/US_13-015-2_small.jpeg"></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0127/4312/products/US_13-015-2_small.jpeg"></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0127/4312/products/US_13-015-2_small.jpeg"></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0127/4312/products/US_13-015-2_small.jpeg"></li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>