<div class='account-hero'>
  {{ 'account_hero.jpg' | asset_url | img_tag }}
</div>
<div class='account'>
  <ul class="nav nav-tabs" role="tablist">
    <li><a href="/account">DASHBOARD</a></li>
    <li><a href="/pages/account-information">ACCOUNT INFO</a></li>
    <li><a href="/account/addresses">ADDRESS BOOK</a></li>
    <li class='active'><a href="/pages/order-history">ORDER HISTORY</a></li>
    <li><a href="/pages/account-subscription">SUBSCRIPTION</a></li>
  </ul>
  
  <div class='account-body'>
    <h3>Order History</h3>
    <table class='table'>
      <thead>
        <tr>
          <th width="16.6%">Order #</th>
          <th width="16.6%">Date</th>
          <th class='hidden-xxs' width="16.6%">Ship To</th>
          <th width="16.6%">Total</th>
          <th class='hidden-xxs' width='16.6%'>Status</th>
          <th width='16.6%'></th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
          <tr>
            <td>{{ order.name }}</td>
            <td>{{ order.created_at | date: "%b %d, %Y" }}</td>
            <td class='hidden-xxs'>{{ order.shipping_address.name }}</td>
            <td>{{ order.total_price | money }}</td>
            <td class='hidden-xxs'>{% if order.fulfillment_status =="fulfilled" %}Shipped{%else%}
                {% if order.payment_status =="Refunded" %}Refunded {%else%} Processing {%endif%}{% endif %}</td>
            <td><a href='#' data-toggle="modal" data-target="#{{order.id}}">View Order</a></td>
          </tr>            
        {%endfor%}
      </tbody>
    </table>
  </div>

</div>

<div class='order-summaries'>
  {% for order in customer.orders %}
  <div class="modal fade" id="{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
          
          {% include 'order-summary' %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>