{% layout settings.customer_layout %}


<div class='account'>
  <ul class="nav nav-tabs" role="tablist">
    <li><a href="/account">DASHBOARD</a></li>
    <li><a href="/pages/account-information">ACCOUNT INFORMATION</a></li>
    <li class='active'><a href="/account/addresses">ADDRESS BOOK</a></li>
    <li><a href="/pages/order-history">ORDER HISTORY</a></li>
    <li><a href="/pages/account-subscription">SUBSCRIPTION</a></li>
  </ul>
  
  <div class='account-body'>
    <div class='row'>
      <div class='col-md-8'>
        <h3>Contact Information &nbsp; <span class='edit-contact edit-data'>edit</span></h3>
        <form role="form">
          <table class='account-info'>
            <tr>
              <td width='35%'><h5>FIRST NAME</h5></td>
              <td class='contact-editable'>{{customer.first_name}}</td>
            </tr>
            <tr>
              <td><h5>LAST NAME</h5></td>
              <td class='contact-editable'>{{customer.last_name}}</td>
            </tr>
            <tr>
              <td><h5>COMPANY</h5></td>
              <td class='contact-editable'>{{customer.default_address.company}}</td>
            </tr>
            <tr>
              <td><h5>TELEPHONE</h5></td>
              {% assign ph_ary = customer.default_address.phone | split: '' %}
              {% assign phone = | '(' | append:ph_ary[0] | append: ph_ary[1] | append: ph_ary[2] | append: ') ' | append: ph_ary[3] | append: ph_ary[4] | append: ph_ary[5] | append: '-' | append: ph_ary[6] | append: ph_ary[7] | append: ph_ary[8] | append: ph_ary[9] %}
              <td class='contact-editable'>{{phone}}</td>
            </tr>
          </table>
        </form>
        <h3>Address &nbsp; <span class='edit-address edit-data'>edit</span></h3>
        <form role="form">
          <table class='account-info'>
            <tr>
              <td width='35%'><h5>STREET</h5></td>
              <td class='address-editable'>{{customer.default_address.address1}}</td>
            </tr>
            <tr>
              <td><h5>STREET2</h5></td>
              <td class='address-editable'>{{customer.last_name}}</td>
            </tr>
            <tr>
              <td><h5>CITY</h5></td>
              <td class='address-editable'>{{customer.default_address.city}}</td>
            </tr>
            <tr>
              <td><h5>STATE / PROVINCE</h5></td>
              <td class='address-editable'>{{customer.default_address.province}}</td>
            </tr>
            <tr>
              <td><h5>ZIP / POSTAL CODE</h5></td>
              <td class='address-editable'>{{customer.default_address.zip}}</td>
            </tr>
            <tr>
              <td><h5>COUNTRY</h5></td>
              <td class='address-editable'>{{customer.default_address.country}}</td>
            </tr>
          </table>
        </form>
      </div>
      <div class='right-section col-md-4'>
        <img src="http://dummyimage.com/300x450/888888/fff.jpg">
      </div>
    </div>
  </div>
</div>