<p id='customerId' class='hide'>{{customer.id}}</p>
<div class='row'>
  <div class='col-md-8 col-sm-8'>
    <h3>Account Information &nbsp; <span class='edit-data' data-input='account-editable' data-submit='account-submit'>edit</span></h3>
    <form role="form">
      <table class='account-info'>
        <tr>
          <td width='35%'><h5>FIRST NAME</h5></td>
          <td class='account-editable' data-submit='account-submit' data-name='first_name'>{{customer.first_name}}</td>
        </tr>
        <tr>
          <td><h5>LAST NAME</h5></td>
          <td class='account-editable' data-submit='account-submit' data-name='last_name'>{{customer.last_name}}</td>
        </tr>
        <tr>
          <td><h5>EMAIL ADDRESS</h5></td>
          <td class='account-editable' data-submit='account-submit' data-name='email'>{{customer.email}}</td>
        </tr>
      </table>
      <input type="submit" class='account-submit data-submit btn btn-info btn-lg' value='Update'>
    </form>
  </div>
  <div class='right-section col-md-4 col-sm-4 hidden-xs account-info-img'>
    {{ 'account-info.jpg' | asset_url | img_tag }}
  </div>
</div>