<aside class="right-off-canvas-menu">
  <div class='fixed-menu'>
  <ul class="off-canvas-list">
      <form id="cart-form" action="/cart" method="post">
          <div id="head"> 
              <div id="button-container">
                <button type='submit' class="btn btn-primary button-ks">KEEP SHOPPING</button>
                <input type="submit" id="co" name="checkout" value="CHECKOUT" class="btn btn-primary button-co" data-toggle="tooltip" data-placement="bottom" title="Your Cart is Empty. Treat yourself to some nice socks!" >
              </div>
              <div id="price-container">
              {% if cart.item_count > 0 %}
                <div id="pricing">
                  <table>
                    <tr>
                      <td class='header left'>TOTAL </td>
                      <td class='number total-price header right'>{{ cart.total_price | money }}</td> 
                    </tr>
                    <tr>
                      <td class='left'>
                        <span class="number item-count">{{ cart.item_count | items }}</span> ITEMS
                      </td>
                      <td class='number total-price right'>
                        {{ cart.total_price | money }}
                      </td>
                    </tr>
                    <tr>  
                      <td class='left'>SHIPPING</td> 
                      <td class='right'>FREE</td>
                    </tr>
                  </table>
                </div>
                <h3 id="ship">Free shipping in the US and Canada.</h3>
              {% endif %}  
              </div>
          </div>
          <div id="container">
          {% for item in cart.items %}
              <div class="line-items">
                <div>
                  <a href="/cart/change?line={{ forloop.index }}&quantity=0" class='remove-button close-button svg-close-icon'>
                    {% include 'icon_close' %}
                  </a>
                </div>
                <div class='img-wrapper'>
                  <a href="{{ item.product.url | within: collections.all }}">  
                    <img id="prod-img" src="{{ item.product.featured_image.src | product_img_url: 'compact' }}" class='img-responsive' alt="{{ item.title | escape }}" />
                  </a>
                </div>
                <div class='product-details'>
                  <a class="prod-title" href="{{ item.product.url | within: collections.all }}"> {{ item.title }}</a>
                  <span class="qty">
                    <span class='number price-item'>
                      {{ item.price | money }}
                    </span>
                    <span class='times'>x</span>
                    QTY <input name="updates[]" class="quantity number update" id="{{item.id}}" value="{{ item.quantity }}" />
                    <span class='plus-btn btn btn-primary'>+</span>
                    <span class='minus-btn btn btn-primary'>-</span>
                  </span>
                    
                  <span class='subtotal'>
                    <span class='text'>SUBTOTAL</span>
                    <span class='number amt price'>{{ item.line_price | money }}</span>
                  </span>
                  
                </div>
              </div>
          {% endfor %}
          </div>
        
      </form>

    <div class="empty-cart-message">
      {% if cart.item_count == 0 %}
        <h2 >Your cart is empty! Treat your self to some sweet socks! </h2>
      {% endif %}
    </div>
  </ul>
  </div>
</aside>
