<aside class="right-off-canvas-menu">
  <ul class="off-canvas-list">
      <form id="cart-form" action="/cart" method="post">
          <div id="head"> 
              <div id="button-container">
                <a class="button-ks"><i class="fa fa-angle-left"></i> KEEP SHOPPING</a>
                <input type="submit" id="co" name="checkout" value="CHECKOUT &#xf105;" class="button-co" />
              </div>
              <div id="price-container">
              {% if cart.item_count > 0 %}
                <div id="pricing">
                  <table style="width:300px">
                    <tr>
                      <td class="spacing-left">TOTAL </td>
                      <td id="price"class="spacing-right">{{ cart.total_price | money }}</td> 
                    </tr>
                    <tr>
                      <td class="spacing-left"><span class="item-count">{{ cart.item_count | items }}</span> ITEMS</td>
                    </tr>
                    <tr>  
                      <td class="spacing-left">SHIPPING | FREE</td> 
                      <td class="spacing-right">FREE</td>
                    </tr>
                  </table>
                </div>
                <h3 id="ship">Free shipping in the US.</h3>
              {% endif %}  
              </div>
          </div>
          {% for item in cart.items %}    
      
            {% comment %}
            Determining the handle of the collection that was last seen for the 'continue shopping' link.
            {% endcomment %}
        
            {% if forloop.first %}
              {% assign collection_url = item.product.collections.first.url %}
              {% if collection_url == '/collections/frontpage' or collection_url == '' %}{% assign collection_url = '/collections/all' %}{% endif %}
            {% endif %}
            <div id="container">
              <div class="line-items">
                <a href="/cart/change?line={{ forloop.index }}&quantity=0"><span class="remove-button glyphicon glyphicon-remove" style="color: #8E9292;display: block;float: right;"></span></a>
                <a href="{{ item.product.url | within: collections.all }}">  
                  <img id="prod-img" src="{{ item.product.featured_image.src | product_img_url: 'compact' }}" alt="{{ item.title | escape }}" />
                </a>
                <span class="qty">QTY <input name="updates[]" class="update" id="{{item.id}}" value="{{ item.quantity }}" /><span>
                <a class="prod-title" href="{{ item.product.url | within: collections.all }}"> {{ item.title }}</a>
                <span class="item-price">{{ item.price | money }}</span>
              </div>
            </div>
            

          {% endfor %}
      
        
        {% comment %}
        For the checkout and update buttons to work, they need to use
        a name attribute set to 'checkout' and 'update', respectively. That's case-sensitive.
        {% endcomment %}
    
        <div>
              
          {% comment %}Paypal and Google checkout buttons{% endcomment %}
          {% if additional_checkout_buttons %}
          <p class="additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </p>
          {% endif %}    
        </div>
    
        
      </form>

    {% if cart.item_count == 0 %}
       <div id="container">
       </div>
    {%endif%}
    <div class="empty-cart-message">
      {% if cart.item_count == 0 %}
        <h2 >Your cart is empty</h2>
      {% endif %}
    </div>
  </ul>
</aside>
