<div class='collection-item'>
  <div class='item-desc hidden-xs'>
    <div class='overlay'>
    </div>
    <div class="item-detail">
      <h4>{{ product.title }}</h4>
      <a href='#' data-toggle="modal" data-target="#{{product.id}}" ><h6>QUICK VIEW</h6></a>
      <a class='btn btn-md btn-primary' href='#'> + CART </a>
    </div>
  </div>
  <a href='{{product.url}}'>
    {% if template == 'collection' %}
      <img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}" />
    {% else %}
      <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
    {% endif %}
  </a>
  <h5>{{ product.price | money | remove: '.00'}}</h5>
</div>

<div class="modal fade" id="{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class='view-all'><a href='{{product.url}}'>VIEW FULL DETAILS</a></p>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        {% include 'product_quickview' %}
      </div>
    </div>
  </div>
</div>
