<div class='collection-item'>
  <div class='item-desc hidden-sm hidden-xs'>
    <div class='overlay'>
    </div>
    <div class="item-detail">
      <h4>{{ product.title }}</h4>
      <a href='#' data-toggle="modal" data-target="#{{product.id}}" ><h6>QUICK VIEW</h6></a>
      <a class='btn btn-md btn-primary' href='#'> + CART </a>
    </div>
  </div>
  <a href='{{product.url}}'>
    {% if template == 'index' %}
      <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
    {% else %}
      <img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}" />
    {% endif %}
  </a>
  <div class="pricing-info {%if template =='index' %}hide{%endif%}">
    <h5>{{ product.price | money | remove: '.00'}}</h5>
  </div>
</div>

<div class="modal fade" id="{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="quickview-modal modal-content">
      <div class="modal-body">
        <div class='view-product'>
          <a href='{{product.url}}'>
            VIEW FULL DETAILS
          </a>
        </div>
        <a href='#' data-dismiss='modal' aria-hidden='true'>
          <div class='svg-close-icon close-button'>
            {% include 'icon_close' %}
          </div>
        </a>
        {% include 'product_view' %}
      </div>
    </div>
  </div>
</div>
