<div class='filter'>
  <div id="accordion">
    <div class='btn-tray'>
      <a data-toggle="collapse" data-parent="#accordion" href="#filter" class='filter-btn btn btn-md btn-primary'>
        FILTER BY <i class="shop-by fa fa-caret-up"></i>
      </a>
    </div>
    <div class='pagination'>
      {% if paginate.next %}
      <div class='arrow'>
        <a href='{{paginate.next.url}}'><i class="fa fa-caret-right"></i></a>
      </div>
      {% endif %}
      <div class='text'>page {{paginate.current_page}} of {{paginate.pages}}</div>
      {% if paginate.previous %}
      <div class='arrow'>
        <a href='{{paginate.previous.url}}'><i class="fa fa-caret-left"></i></a>
      </div>
      {% endif %}
    </div>
    <div id="filter" class="panel-collapse collapse in">
      <div class='panel-body'>
      <ul class='filter-list'>
        <li class='accessory-list'><ul class='accessory'>
          <h4>Accessory</h4>
          {% assign tags = 'All Socks,Boxers,Bowties,Ties,Pocket Squares' | split: ',' %}
          {% for tag in tags %}
          {% assign svg_snippet = tag | handleize | prepend: 'icon_' %}
          {% capture svg %} {% include svg_snippet %} {% endcapture %}        
          <a href='/{{tag | handleize}}' class='select-filter' id='{{tag | handleize}}'>
            <li class='{% if tag == 'Pocket Squares'%}last {%elsif tag == "Bowties" %} second {% elsif tag == "All Socks" %} first {% endif %}'>
              <div class='{% if current_tags contains tag %} selected-svg-icon {% endif %} svg-icon'>
                {{svg}}
              </div>
            </li>
          </a>
          {%endfor%}
        </ul></li>
        
        <li class='style-list'><ul class='style'>
          <h4>Style</h4>
          {% assign tags = 'Casual Socks,Dress Socks,Fashion Socks,Fun Socks' | split: ',' %}
          {% for tag in tags %}
          <a href='/{{tag | handleize}}' class='select-filter' id="{{ tag | handleize }}">
            <li>
              <label {% if current_tags contains tag %} class='checked' {%endif%} >
                {{ tag | remove: ' Socks' }}
              </label>
            </li>
          </a>
          {% endfor %}
        </ul></li>
        <span id='mytags' class='hide'> {{ current_tags }}</span>
        
        <li class='color-list'><ul class='color'>
          <h4>Color</h4>
          {% assign tags = 'Black,Gray,Brown,Blue,Green,Orange,Pink,Red,White,Yellow,Purple,Multi Color' | split: ',' %}
          {% for tag in tags %}
          <a href='/{{tag|handleize}}' class='select-filter' id='{{ tag | handleize }}'> 
            <li class="{{ tag | handleize}}">
              {% if tag == 'Multi Color' %}
              <div class='purple'></div>
              <div class='pink'></div>
              <div class='green'></div>
              <div class='yellow'></div>
              {% endif %}
              {% if current_tags contains tag %}
              <div class='selected-tag'>
                {% include 'icon_close' %}
              </div>
              {% endif %}
            </li>
          </a>
          {% endfor %}
        </ul></li>
        
        <li class='pattern-list'><ul class='pattern'>
          <h4>Pattern</h4>
          {% assign tags ='Argyle Socks,Dots,paisley,Camo,Stripes,Blocks,Novelty,Solid,Animal,Floral' | split: ',' %}
          <br>
          {% for tag in tags %}
          {% assign image_file = tag | handleize | prepend: 'pattern_' | append: '.png' %}
          <a href='{{tag |handleize}}' class='select-filter' id ='{{tag | handleize}}'>
            <li>
              {{ image_file | asset_url | img_tag }}{{ tag | remove: ' Socks' | capitalize }}
               {% if current_tags contains tag %}
               <div class='selected-tag'>
                <div class='overlay'>
                </div>
                {% include 'icon_close' %}
              </div>
              {% endif %}
            </li>
          </a>
          {% endfor %}
        </ul></li>
        
        <li class='brand-list'><ul class='brand hidden-xs'>
          <h4>Brand</h4>
          {% assign tags = 'Ashi Dashi,Foot Traffic,Happy Socks,Hot Sox,K.Bell,May28th,Mint Socks,Ozone,Pact,Ralph Lauren,Richer Poorer,Sock it to Me,Unsimply Stitched,Zoraab' | split: ',' %}
          {% for tag in tags %}
          <a href='{{tag | handleize}}' class='select-filter' id='{{tag | handleize}}'>
            <li>
              <label {% if current_tags contains tag %} class='checked' {%endif%}>
                {{tag}}
              </label>
            </li>
          </a>
          {% endfor %}
        </ul></li>
      </ul>
    </div>
  </div>
  </div>
</div>