</div>
<div class='footer'>
  <div class='row'>
    <form action="http://zoraab.us4.list-manage.com/subscribe/post?u=fdf8a5ce2518c055fc3be35d7&id=331f9e54ce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
      <div class='email-signup hidden-xs'>
      SIGN UP FOR OUR NEWSLETTER TO <span class='emphasize'> SAVE 10% </span>
        <input type='email' placeholder='your@email.com' id='mce-EMAIL' name='EMAIL' />
        <input type='submit' class='btn btn-info' name='subscribe' value='SUBMIT'/>
        <span class='free-shipping hidden-xs hidden-sm'> Free shipping on all orders!</span>
      </div>
    </form>
  </div>
  <div class='row'>
    <div class='press-banner hidden-xs'>
      <div class='col-sm-2'>
        <img src="{{'press_logo1.png' | asset_url}}" class='img-responsive'>
      </div>
      <div class='col-sm-2'>
        <img src="{{'press_logo2.png' | asset_url}}" class='img-responsive'>
      </div>
      <div class='col-sm-2'>
        <img src="{{'press_logo3.png' | asset_url}}" class='img-responsive'>
      </div>
      <div class='col-sm-2'>
        <img src="{{'press_logo4.png' | asset_url}}" class='img-responsive'>
      </div>
      <div class='col-sm-2'>
        <img src="{{'press_logo5.png' | asset_url}}" class='img-responsive'>
      </div>
      <div class='col-sm-2'>
        <img src="{{'press_logo6.png' | asset_url}}" class='img-responsive'>
      </div>
    </div>
  </div>
  <div class='bottom-footer hidden-xs'>
    <div class="content">
      <div class='row'>
        <div class='col-sm-2'>
          <a href='/pages/sock-subscription'>
            <h5>SUBSCRIPTION</h5>
            <p>Be it party socks, colorful socks or fashion socks, every preference is customized based on your style profile.</p>
          </a>
        </div>
        <div class='col-sm-2'>
          <a href='/collections/mens-socks'>
            <h5>SHOP</h5>
            <p>Accessories for every man from bowties, pocket squares to colorful socks and dare we say even crazy socks. Find your look.</p>
          </a>
        </div>
        <div class='col-sm-2'>
          <a href='/products/gift-card'>
            <h5>GIFT CARDS</h5>
            <p>For the man who knows how he likes his pocket squares and bowties. In fact he’s particular about his crazy socks.</p>
          </a>
        </div>
        <div class='col-sm-2'>
          <a href='/pages/blog'>
            <h5>BLOG</h5>
            <p>Find your inspirational pocket square, watch, tie and even fashion sock look, curated just for you.</p>
          </a>
        </div>
        <div class='col-sm-2 footer-links'>
          <ul>
            <li><a href='/account'>ACCOUNT</a></li>
            <li><a href='/pages/returns'>RETURNS</a></li>
            <li><a href='/pages/help-faq'>HELP</a></li>
            <li class='hide'>(800) 973-8247</li>
            <li><a href='/pages/terms'>TERMS</a></li>
        </div>
        {% include 'social-icons'%}
      </div>
      <div class='row copyright'>
        <p role="contentinfo">&copy; {{ "now" | date: "%Y" }} Parastone Group. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
  <div class='container-fluid'>