<div class="product-quickview product-only">
  <div class="row">
    {% if template == 'collection' %}
    <div class="col-sm-8">
    {% else %}
    <div class="col-sm-9">
    {% endif %}
      <div class='product-image'>
        {{'gift_card.png' | asset_url | img_tag }}
        <div class='product-border'>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class='info'>
        <form action="/cart/add" method="post" enctype="multipart/form-data">
        <h2>{{ product.title }}</h2>
        <h4>{{product.vendor}}</h4>
        <div class='price-details'>
          <div class='mid-border'></div>
          <h3 class='gift'>
            <select name="id" class='product-select'>
            {% for variant in product.variants %}
              <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
            {% endfor %}
            </select>
          </h3>
        </div>
        <div class='qty'> QTY <input min="1" type="number" id="quantity" class='product-quantity' name="quantity" value="1" /> </div>
        <div class='add-to-cart'>
          <input type="submit" value="+ ADD TO CART" class="add btn btn-lg btn-info right-off-canvas-toggle" />
        </div>
        <div class='description'>
          {{ product.description }}
        </div>
      </form>
      </div>
    </div>
  </div>
</div>