
    <div id="ordersummbox">
        <div id="ordersummboxhead">Your Order History</div>
        <table id="allcustorders">
            <thead>
                <tr>
                    <th width="25%">Order #</th>
                    <th width="25%">Date</th>
                    <th width="25%">Status</th>
                    <th width="25%">Total</th>
                </tr>
            </thead>
                <tbody>
                    {% if customer.orders.size == 0 %}
                        </tbody>
                        </table>
                        <div style="width:440px; text-align:center; margin:0 auto; height:225px; overflow:hidden;">
                        {{ 'no_orders.png' | asset_url | img_tag }}
                        </div>
                    {%else%}
                        {% for order in customer.orders %}
                        <tr class ='clickableRow' href='{{order.customer_url}}'>
                            <td>{{order.name}}</td>
                            <td>{{ order.created_at | date: "%b %d, %Y" }}</td>
                            <td>{% if order.fulfillment_status =="fulfilled" %}Shipped{%else%}
                                {% if order.payment_status =="Refunded" %}Refunded {%else%} Processing {%endif%}{% endif %}</td>
                            <td>{{ order.total_price | money }}</td>
                        </tr>            
                        {%endfor%}
                        </tbody>
                        </table>
                    {%endif%}


        </div>
        
    </div>
