<div class="product-quickview">
  <div class="row">
    <div class="col-sm-8">
      <div class='product-image'>
        <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
        <div class='product-border'>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class='info'>
        <h2>{{ product.title }}</h2>
        <h4>{{product.vendor}}</h4>
        <h3>{{ product.price | money | remove: '.00'}}</h3>
        <div class='qty'> QTY: <input min="1" type="number" id="quantity" name="quantity" value="1" /> </div>
        <div class='add-to-cart'>
          <input type="submit" value="+ ADD TO CART" id="add" class="btn btn-lg btn-info" />
        </div>
        <div class='description'>
          {{ product.description }}
        </div>
      </div>
    </div>
  </div>
</div>