<div id='subHero' class='sub-hero'>
  <div class='sub-loader'>
    <img src="{{ 'loader.gif' | asset_url }}">
  </div>

  <span id='hero-url' class='hide'>{{ 'hero_sub.jpg' | asset_url }}</span>
  <div class='right'>
    <div class='head'>
      <h1>THE ZORAAB KIT</h1>
    </div>
    <div class='subhead'>
      <h1>Your monthly kit of sock swagger for men</h1>
    </div>
    <ul class='sub-steps'>
      <li>
        <p class='step number'>1</p>
        <p class='action'>PICK YOUR STYLE</p>
        <p class='img'>
          <img src="{{'icon_hanger.png'|asset_url}}" class='img-responsive'>
        </p>
      </li>
      <li>
        <p class='step number'>2</p>
        <p class='action'>CHOOSE YOUR PLAN</p>
        <p class='img'>
          <img src="{{'icon_socks.png'|asset_url}}" class='img-responsive'>
        </p>
      </li>
      <li>
        <p class='step number'>3</p>
        <p class='action'>GET YOUR SOCKS</p>
        <p class='img'>
          <img src="{{'icon_box_monkey.png'|asset_url}}" class='img-responsive'>
        </p>
      </li>
    </ul>
    <div class='submit-btn'>
      <a href='{% if template == "page.subs" %}#SubscriptionForm{% else %}/pages/sock-subscription#SubscriptionForm{% endif %}' class='btn btn-lg'>GET STARTED</a>
    </div>
  </div>
</div>
