<div class="fs-form-wrap" id="fs-form-wrap-{{sub_full_form}}">
  <div class="fs-title">
    <div class='back-btn' data-target="{{sub_full_form}}Form">{% include 'icon_back' %}</div>
    <a href='#' class='close-form' data-target='#{{sub_full_form}}'>{% include 'icon_close' %}</a>
  </div>
  <form id='formFor-{{sub_full_form}}'class="fs-form fs-form-full ac-custom ac-radio ac-fill ac-checkbox ac-boxfill" autocomplete="off" action='http://zoraab-users.herokuapp.com/new' method='post'>
    <ol class="fs-fields">
      <li class='name-question'>
        <h3 class="fs-field-label fs-anim-upper" data-info='We aspire to be the kind of place where everybody knows your name.'>What's your name?</h3>
        <input type="hidden" name="sub_type" value="{{sub_full_form}}">
        <input class="fs-anim-lower termInput" id="name-{{ sub_full_form }}" name="name" type="text" placeholder="Ronald McDonald" data-target='.subscriberName-{{sub_full_form}}' data-form='#{{sub_full_form}}' required/>
      </li>
      <li class='email-question'>
        <h3 class="fs-field-label fs-anim-upper" for="q2" data-info="We won't send you spam, we promise...">Okay <span class='subscriberName-{{sub_full_form}}' ></span>, what's your email?</h3>
        <input class="fs-anim-lower termInput" id="q2" name="email" type="email" placeholder="ronald@mcdonalds.com" data-form='#{{sub_full_form}}' required/>
      </li>
      <li class='who-question'>
        <h3 class="fs-field-label fs-anim-upper">Who is this for?</h3>
          <ul class='fs-anim-lower'>
            <li><input id="recipient-self-{{sub_full_form}}" class='fs-anim-lower termOptionLong' data-target='{{sub_full_form}}Form' name="recipient" type="radio" value='self'><label class='radioBtn fs-anim-lower termOptionLong' data-target='{{sub_full_form}}Form' for="recipient-self-{{sub_full_form}}">ME</label></li>
            <li><input class='fs-anim-lower' id="recipient-gift-{{sub_full_form}}" name="recipient" type="radio"value='gift'><label class='radioBtn fs-anim-lower' for="recipient-gift-{{sub_full_form}}">GIFT</label></li>
          </ul>
          <div class='gift-options'>
            <input class="fs-anim-lower termInput" id="q3c" name="recipient_name" type="text" placeholder="Recipient's Name" data-form='#{{sub_full_form}}'/>
            <textarea class="fs-anim-lower" id="q3d" name="gift_note" placeholder="Gift message here is included with their first package. Write away!"></textarea>
          </div>
      </li>
      {% if sub_full_form == 'socksAndBoxers' %}
      <li class='size-question'>
        <h3 class="fs-field-label fs-anim-upper" for='q4'>What size boxer briefs?</h3>
        <input type="hidden" name="size" id="subSize" />
        <div class='boxer-sizes'>
          {% assign sizes = 'small,medium,large,x large' | split: ',' %}
          {% assign sizeAbbrs = 'S,M,L,XL' | split: ',' %}
          {% for i in (0..3) %}
          <div class='fs-anim-lower boxer-size termOption' data-target='{{sub_full_form}}Form' data-size-target='{{ sizeAbbrs[i]}}'>
            {% include 'icon_boxers_heart' %}
            <div class='size-text'>
              {{ sizes[i] }}
            </div>
          </div>
          {% endfor %}
        </div>
      </li>
      {% endif %}
      {% if sub_full_form == 'socksOnly' or sub_full_form == 'socksAndBoxers' %}
      <li class='style-question'>
        <h3 class="fs-field-label fs-anim-upper" for='q4' data-info="Customize your sock experience with as much or as little variety as possible.">Pick your sock style:</h3>
        <ul class='style-list'>
          {% assign styles = 'casual,business,fashion,wild' | split: ',' %}
          {% assign style_titles = 'Laid Back,Strictly<br/>Business,Fashion Statement,Walk on the<br/>Wild Side' | split: ',' %}
          {% assign patterns = 'stripes,argyle,polkadots,mustache' | split: ',' %}
          {% assign pattern_counts = '2,2,2,5' | split: ',' %}
          {% for i in (0..3) %}
          {% assign n = pattern_counts[i] | times: 1 %}
            <li>
              <input id="{{sub_full_form}}-{{ 'q4-' | append: i}}" type="checkbox" class='style termInputLong' name='style[]' value='{{ styles[i] }}' data-form='#{{sub_full_form}}'>
              <label class='fs-anim-lower termInputLong' for="{{sub_full_form}}-{{ 'q4-' | append: i}}" data-form='#{{sub_full_form}}'>
                <div class='style-pic {{patterns[i]}}'>
                  {% assign icon = patterns[i] | prepend: 'icon_' %}
                  {% for num in (1..n) %}
                    {% include icon %}
                  {% endfor %}
                </div>
                <h4>{{ style_titles[i] }}</h4>
              </label>
            </li>
          {% endfor %}
        </ul>
      </li>
      {% if sub_full_form == 'socksOnly' %}
      <li class='quantity-question'>
        <h3 class="fs-field-label fs-anim-upper" data-info='Are we talking sock drawer spice up or total overhaul? If it’s the latter we suggest 5 pairs a month! P.S. No more laundry, woo hoo!'>How many pairs of socks?</h3>
          <ul>
          {% assign plans = '2,3,5' | split: ',' %}
          {% assign prices = '20,29,45' | split: ','%}
          {% for i in (0..2) %}
            <li class='plan-{{plans[i]}} fs-anim-lower'>
              <input id="sockNum-{{plans[i]}}" class='' name="qty" type="radio" value='{{plans[i]}}'>
              <label class='radioBtn termOption' data-target='{{sub_full_form}}Form' for="sockNum-{{plans[i]}}">
                <div class='quantity-box'>
                  <div class='sock-icons'>
                    {% assign num = plans[i] | times: 1 %}
                    {% for n in (1..num) %}
                      {% include 'icon_sock' %}
                    {% endfor %}
                  </div>
                  <h4>{{ plans[i] }} pairs</h4>
                  <h5 class='price-footer'>${{ prices[i] }} / month</h5>
                </div>
              </label>
            </li>
          {% endfor %}
          </ul>   
      </li>
      {% endif %}
      {% endif %}
      <li class='payment-question'>
        <h3 class="fs-field-label fs-anim-upper" data-info='Don’t worry, you can cancel anytime. We just want to know whether to charge you upfront one time or monthly.'>Which plan do you like best?</h3>
        <ul class='freq-options fs-anim-lower'>
          <li><input id="monthly-{{sub_full_from}}" class='fs-anim-lower termOptionLong' name="payment" type="radio" value='monthly' data-target='{{sub_full_form}}Form'><label class='radioBtn fs-anim-lower termOptionLong' for="monthly-{{sub_full_from}}" data-target='{{sub_full_form}}Form'>Pay As You Go</label></li>
          <li><input class='fs-anim-lower' id="once-{{sub_full_from}}" name="payment" type="radio" value='once'><label class='radioBtn fs-anim-lower' for="once-{{sub_full_from}}">Upfront</label></li>
        </ul>
        <div class='payment-options'>
          <ul>
            {% assign counts = '3,9,1' | split: ',' %}
            {% assign times = 'months,months,year' | split: ',' %}
            {% if sub_full_form == 'socksOnly' %}
              {% assign prices = '60,180,240' | split: ',' %}
            {% elsif sub_full_form == 'starterKit' %}
              {% assign prices = '42,126,168' | split: ',' %}
            {% else %}
              {% assign prices = '84,252,336' | split: ',' %}
            {% endif %}
            {% for i in (0..2) %}
            <li>
              <input id="{{counts[i]}}{{times[i]}}-{{sub_full_form}}" class='fs-anim-lower' name="term" type="radio" value='{{counts[i]}}{{times[i]}}'>
              <label class='radioBtn fs-anim-lower termOption' for="{{counts[i]}}{{times[i]}}-{{sub_full_form}}" data-target='{{sub_full_form}}Form'>
                <div class='time-box'>
                  <h4 class='price-num'>{{ counts[i] }}</h4>
                  <h5>{{ times[i] }}</h5>
                  <h5 class='price-footer'>$<span class='price-plan-{{ counts[i] }}'>{{ prices[i] }}</span></h5>
                </div>
              </label>
            </li>
            {% endfor %}
          </ul>
        </div> 
      </li>
      <li class='order-summary-page' data-form='#{{sub_full_form}}'>
        <h3 class="fs-field-label fs-anim-upper">Okay <span class='subscriberName-{{sub_full_form}} subscriberName'></span> you signed up for:</h3>
        <div class='order-summary-wrapper fs-anim-lower'>
          <div class='sub-order-summary'>
            <div class='chosen-box'>
              <h4>BOX</h4>
              <div class='quantity-box'>
                {% if sub_full_form == 'socksOnly' %}
                  <div class='acc-icons'></div>
                  <h5><span class='number-of-socks'>2</span> pairs<br/>/<br/>month</h5>
                {% endif %}
                {% if sub_full_form =='socksAndBoxers' %}
                  <div class='accs-summ'>
                    {% include 'icon_boxers_heart' %}
                    {% include 'icon_sock' %}
                  </div>
                  <h5><span class='number-of-socks'>socks+boxers<br/>/<br/>month</h5>
                {% elsif sub_full_form == 'accsOnly' %}
                  <div class='accs-summ'>
                    {% include 'icon_surprise' %}
                    {% include 'icon_bowties' %}
                    {% include 'icon_sock' %}
                  </div>
                  <h5><span class='number-of-socks'>accessories<br/>/<br/>month</h5>
                {% elsif sub_full_form == 'starterKit' %}
                  <div class='accs-summ'>
                    {% include 'icon_surprise' %}
                  </div>
                  <h5><span class='number-of-socks'>starer kit<br/>/<br/>month</h5>
                {% endif %}
              </div>
            </div>
            <div class='chosen-style'>
              <h4>STYLE</h4>
              <div class='style-icons'>
                <span id='summcasual' class='hide'>{% include 'icon_stripes' %}</span>
                <span id='summfashion' class='hide'>{% include 'icon_polkadots' %}</span>
                <span id='summwild' class='hide'>{% include 'icon_mustache' %}</span>
                <span id='summbusiness' class='hide'>{% include 'icon_argyle' %}</span>
              </div>
            </div>
          </div>
          <div class='payment-summary'>
            <h4>PAYMENT</h4>
            <h5 class='upfrontPmt hide'>Pay Once - <span class='num-of-months'>3 months</span></h5>
            <h5 class='monthlyPmt hide'>Pay Monthly</br/><span class='cancel-anytime'>Cancel Anytime</span></h5>
            <h4 class='subtotal-amt'>
              Total:<br/>
              <span class='num'>$<span class='finalPrice'></span></span><span class='per-month monthlyPmt hide'>/ month</span>
            </h4>
          </div>
          <div class='sub-checkout-btn'>
            <a href='#' class='submit-sub-form btn btn-lg btn-info' data-target='#formFor-{{ sub_full_form }}' />CHECKOUT</a>
            <!-- <input type='submit' value='PAY NOW' class='btn btn-lg btn-info' /> -->
          </div>
        </div>
      </li>
    </ol>
    <button class="fs-submit" type="submit">Send answers</button>
  </form>
</div>